<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Booklib{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body>

<header class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-book fa-green fa-stack-1x"></i>
                            </span>
                    BookLib
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Accueil</a></li>
                    <li><a href="#">Concept</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Roman</a></li>
                            <li><a href="#">SF</a></li>
                            <li><a href="#">Histoire</a></li>
                            <li><a href="#">Thriller</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-user fa-green fa-stack-1x"></i>
                                    </span>
                            Mon Compte
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                {% if app.user %}
                                    <a href="{{ path('logout') }}">
                                        <i class="fa fa-sign-out"></i>
                                        Se déconnecter
                                    </a>
                                {% else %}
                                    <a href="{{ path('login') }}">
                                        <i class="fa fa-sign-in"></i>
                                        Se connecter
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-user-plus"></i>
                                    Créer un compte
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<main>

    {% block body %}{% endblock %}

</main>

<footer class="site-footer">
    <i class="fa fa-copyright"></i> BookLib 2017
</footer>

{% block javascripts %}
    <script src="{{ asset('build/js/markercluster.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

</body>
</html>